*{
    inset:0;
    margin:0;
    padding:0;

    --theme-primary:#6FEDB7;
    --theme-secondary:#A9FBD7;
    --theme-accent:#B2E4DB;
    --theme-surface:#1C0B19;
  
    --theme-primary-content:#140D4F;
    --theme-secondary-content:#4EA699;
    --theme-accent-content:#2DD881;
    --theme-surface-content:#4EA699;
    color:var(--theme-surface-content);
}

body{
    background:var(--theme-surface);
}

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-col {
    display:flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center{
    align-items: center;
}

.pfp {
    height       : 200px;
    border: solid;
    border-width: 8px;
    border-color:black;
    border-radius: 100%;
}

h1{
    background: var(--theme-primary);
    color: var(--theme-primary-content);
}

.bg-primary {
    background: var(--theme-primary)
}
.bg-secondary {
    background: var(--theme-secondary)
}
.bg-accent {
    background: var(--theme-accent)
}
.bg-surface {
    background: var(--theme-surface)
}
.text-primary-content {
    color: var(--theme-primary-content)
}
.text-secondary-content {
    color: var(--theme-secondary-content)
}
.text-accent-content {
    color: var(--theme-accent-content)
}
.text-surface-content {
    color: var(--theme-surface-content)
}
.text-primary {
    color: var(--theme-primary)
}
.text-secondary {
    color: var(--theme-secondary)
}
.text-accent {
    color: var(--theme-accent)
}
.text-surface {
    color: var(--theme-surface)
}